This course will get you up to speed on the Americans with Disabilities 
Act – without boring manuals and endless government documentation. Through 
entertaining vignettes, lively commentary, and attention grabbing scenes, 
we will give you a solid, working understanding of how the ADA relates to 
the job application process, hiring, termination, training, compensation, 
advancement, benefits, and leave. This program examines the most common 
myths associated with the ADA and shows you exactly why each one is 
unfounded.
